# Dependencias de Node
node_modules/
.pnpm/

# Archivos de compilación
dist/
dist-ssr/
*.tsbuildinfo

# Archivos de entorno
.env

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Configuración de editores (opcional)
.vscode/*
!.vscode/extensions.json
.idea/

# Archivos del sistema
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos locales
*.local

.package-lock.json
package-lock.json
pnpm-lock.yaml
